@charset "utf-8";

/* global */
* {
	margin: 0px;
	padding: 0px;
}

/* layout */
body {
	padding: 10px;
	background-color: #f0f0f0;
	font-size: 25px;
}

/* headers */
h1,
h2 {
	font-size: 25px;
}

/* others */
.with_top_margin {
	margin-top: 25px;
}

hr {
	height: 2px;
	background-color: black;
	border: none;
	color: black;
}

